body {
    margin: 0;
    background-color: rgb(5, 5, 24);
}

.title {
    margin-left: 25%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(99, 153, 253);
    border-radius: 10px;
}


.body-wrapper img {
    width: 100%;
}

.resume {
    width: 80%;
}

.img-wrapper {
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.links-wrapper {
    margin-top: 2%;
    display: flex;
    justify-content: center;
    width: 40%;
}

.links-wrapper a {
    margin-left: 5%;
    margin-right: 5%;
    font-size: .85em;
    text-decoration: none;
    color: white;
    
}

.aboutme-wrapper {
    margin-top: 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.contact-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: aliceblue;
    margin-bottom: 2%;
    width: 75%;
}

.header-wrapper {
    height: 20%;
    background-color: rgb(5, 5, 24);
    display: flex;
    /* align-items: center; */
    justify-content: center;
    padding-bottom: 2%;
}

.header-wrapper-mid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 60%;
}

.header-wrapper h1 {
    margin-top: 4%;
    font-size:250% ;
    color: aliceblue;
}

.header-wrapper-side {
    width: 20%;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-wrapper-side i {
    margin-right: 2%;
    font-size: 150%;
}

.header-wrapper-side a {
    text-decoration: none;
    color: aliceblue;
}

.footer-wrapper {

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(5, 5, 24);
    color: aliceblue;
}

.contact-wrapper div {
    display: flex;
    align-items: center;
    width: 20%;
}

.contact-wrapper div i {
    margin-right: 5%;
}

.body-wrapper-resume {
    background-color: rgb(50, 78, 102);
    display: flex;
    align-items: center;
    justify-content: center;
}

.body-wrapper-resume img {
    width: 60%;
}

.body-wrapper-about {
    background-color: rgb(50, 78, 102);
    color: aliceblue;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 5%;
}

.body-wrapper-about h1 {
    color: aliceblue;
    font-size: 400%;
}

.body-wrapper-about a:link {
  color: aliceblue;
  background-color: transparent;
}

.body-wrapper-about a:visited {
  color: aliceblue;
  background-color: transparent;
}

.body-wrapper-about a:hover {
  color: lightblue;
  background-color: transparent;
}

.body-wrapper-about a:active {
  color: blue;
  background-color: transparent;
}

.body-wrapper-about p {
    text-align: center;
    width: 50%;
    font-size: 2em;
}

.body-wrapper-projects {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 20%;
    background-color: rgb(50, 78, 102);
}

.body-wrapper-projects a {
    color: black;
    text-decoration: none;
    font-size: 2em;
    margin-bottom: 5%;
}

.body-wrapper-projects h1 {
    font-size: 350%;
    margin-bottom: 5%;
}

.body-wrapper-python{
    background-color: rgb(50, 78, 102);
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: aliceblue;
}

.body-wrapper-python p{
    width: 50%;
}

.python-title {
    font-size: 200%;
}

.project-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}

.project-title i {
    font-size: 2em;
    color: black;
    margin-left: 20%;
}

.about-me-item {
    text-align: center;
}

.side-by-side {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
}

.side-by-side img {
    width: 70%;
}

.side-by-side p {
    font-size: 1em;
}
